<!--
Author: Luis RENÉ López
Website: https://github.com/luislopez-dev
Description: Open source project: .NET-Clean-DevOps-Architecture
-->

@{
    ViewBag.Title = "404";
    Layout = "_Layout";
}

<h2>404: Página no encontrada</h2>
