@page
@model Presentation.Views.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!--
Author: Luis René López
Website: https://github.com/luislopez-dev
Description: Open source project: .NET-Clean-DevOps-Architecture
-->
